@import 'tailwindcss';

@plugin 'tailwindcss-animate';


@custom-variant dark (&:is(.dark *));

@theme {
    --font-sans:
        'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

    --radius-lg: var(--radius);
    --radius-md: calc(var(--radius) - 2px);
    --radius-sm: calc(var(--radius) - 4px);

    --color-background: light-dark(var(--background-light), var(--background-dark));
    --color-foreground: light-dark(var(--foreground-light), var(--foreground-dark));

    --color-card: light-dark(var(--card-light), var(--card-dark));
    --color-card-foreground: light-dark(var(--card-foreground-light), var(--card-foreground-dark));

    --color-popover: light-dark(var(--popover-light), var(--popover-dark));
    --color-popover-foreground: light-dark(var(--popover-foreground-light), var(--popover-foreground-dark));

    --color-primary: light-dark(var(--primary-light), var(--primary-dark));
    --color-primary-foreground: light-dark(var(--primary-foreground-light), var(--primary-foreground-dark));

    --color-secondary: light-dark(var(--secondary-light), var(--secondary-dark));
    --color-secondary-foreground: light-dark(var(--secondary-foreground-light), var(--secondary-foreground-dark));

    --color-muted: light-dark(var(--muted-light), var(--muted-dark));
    --color-muted-foreground: light-dark(var(--muted-foreground-light), var(--muted-foreground-dark));

    --color-accent: light-dark(var(--accent-light), var(--accent-dark));
    --color-accent-foreground: light-dark(var(--accent-foreground-light), var(--accent-foreground-dark));

    --color-destructive: light-dark(var(--destructive-light), var(--destructive-dark));
    --color-destructive-foreground: light-dark(var(--destructive-foreground-light), var(--destructive-foreground-dark));

    --color-border: light-dark(var(--border-light), var(--border-dark));
    --color-input: light-dark(var(--input-light), var(--input-dark));
    --color-ring: light-dark(var(--ring-light), var(--ring-dark));

    --color-chart-1: light-dark(var(--chart-1-light), var(--chart-1-dark));
    --color-chart-2: light-dark(var(--chart-2-light), var(--chart-2-dark));
    --color-chart-3: light-dark(var(--chart-3-light), var(--chart-3-dark));
    --color-chart-4: light-dark(var(--chart-4-light), var(--chart-4-dark));
    --color-chart-5: light-dark(var(--chart-5-light), var(--chart-5-dark));

    --color-sidebar: light-dark(var(--sidebar-light), var(--sidebar-dark));
    --color-sidebar-foreground: light-dark(var(--sidebar-foreground-light), var(--sidebar-foreground-dark));
    --color-sidebar-primary: light-dark(var(--sidebar-primary-light), var(--sidebar-primary-dark));
    --color-sidebar-primary-foreground: light-dark(var(--sidebar-primary-foreground-light), var(--sidebar-primary-foreground-dark));
    --color-sidebar-accent: light-dark(var(--sidebar-accent-light), var(--sidebar-accent-dark));
    --color-sidebar-accent-foreground: light-dark(var(--sidebar-accent-foreground-light), var(--sidebar-accent-foreground-dark));
    --color-sidebar-border: light-dark(var(--sidebar-border-light), var(--sidebar-border-dark));
    --color-sidebar-ring: light-dark(var(--sidebar-ring-light), var(--sidebar-ring-dark));
}

:root {
    /* Light mode colors */
    --background-light: oklch(1 0 0);
    --foreground-light: oklch(0.145 0 0);
    --card-light: oklch(1 0 0);
    --card-foreground-light: oklch(0.145 0 0);
    --popover-light: oklch(1 0 0);
    --popover-foreground-light: oklch(0.145 0 0);
    --primary-light: oklch(0.205 0 0);
    --primary-foreground-light: oklch(0.985 0 0);
    --secondary-light: oklch(0.97 0 0);
    --secondary-foreground-light: oklch(0.205 0 0);
    --muted-light: oklch(0.97 0 0);
    --muted-foreground-light: oklch(0.556 0 0);
    --accent-light: oklch(0.97 0 0);
    --accent-foreground-light: oklch(0.205 0 0);
    --destructive-light: oklch(0.577 0.245 27.325);
    --destructive-foreground-light: oklch(0.577 0.245 27.325);
    --border-light: oklch(0.828 0.189 84.429);
    --input-light: oklch(0.922 0 0);
    --ring-light: oklch(0.87 0 0);
    --chart-1-light: oklch(0.646 0.222 41.116);
    --chart-2-light: oklch(0.6 0.118 184.704);
    --chart-3-light: oklch(0.398 0.07 227.392);
    --chart-4-light: oklch(0.828 0.189 84.429);
    --chart-5-light: oklch(0.769 0.188 70.08);
    --sidebar-light: oklch(0.985 0 0);
    --sidebar-foreground-light: oklch(0.145 0 0);
    --sidebar-primary-light: oklch(0.205 0 0);
    --sidebar-primary-foreground-light: oklch(0.985 0 0);
    --sidebar-accent-light: oklch(0.97 0 0);
    --sidebar-accent-foreground-light: oklch(0.205 0 0);
    --sidebar-border-light: oklch(0.922 0 0);
    --sidebar-ring-light: oklch(0.87 0 0);

    /* Dark mode colors */
    --background-dark: oklch(0.145 0 0);
    --foreground-dark: oklch(0.985 0 0);
    --card-dark: oklch(0.145 0 0);
    --card-foreground-dark: oklch(0.985 0 0);
    --popover-dark: oklch(0.145 0 0);
    --popover-foreground-dark: oklch(0.985 0 0);
    --primary-dark: oklch(0.828 0.189 84.429);
    --primary-foreground-dark: oklch(0.205 0 0);
    --secondary-dark: oklch(0.269 0 0);
    --secondary-foreground-dark: oklch(0.985 0 0);
    --muted-dark: oklch(0.269 0 0);
    --muted-foreground-dark: oklch(0.708 0 0);
    --accent-dark: oklch(0.269 0 0);
    --accent-foreground-dark: oklch(0.985 0 0);
    --destructive-dark: oklch(0.396 0.141 25.723);
    --destructive-foreground-dark: oklch(0.637 0.237 25.331);
    --border-dark: oklch(0.269 0 0);
    --input-dark: oklch(0.269 0 0);
    --ring-dark: oklch(0.439 0 0);
    --chart-1-dark: oklch(0.488 0.243 264.376);
    --chart-2-dark: oklch(0.696 0.17 162.48);
    --chart-3-dark: oklch(0.769 0.188 70.08);
    --chart-4-dark: oklch(0.627 0.265 303.9);
    --chart-5-dark: oklch(0.645 0.246 16.439);
    --sidebar-dark: oklch(0.205 0 0);
    --sidebar-foreground-dark: oklch(0.985 0 0);
    --sidebar-primary-dark: oklch(0.828 0.189 84.429);
    --sidebar-primary-foreground-dark: oklch(0.985 0 0);
    --sidebar-accent-dark: oklch(0.828 0.189 84.429);
    --sidebar-accent-foreground-dark: oklch(0.439 0 0);
    --sidebar-border-dark: oklch(0.269 0 0);
    --sidebar-ring-dark: oklch(0.439 0 0);

    --radius: 0.625rem;
}

@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply bg-background text-foreground;
    }
}
